.product-details{
    display:flex;
    padding: 50px;
    gap: 2rem;
}

.product-img{
width: 40vw;
height: 70vh;
object-fit: contain;

}
.product-content{
    display: flex;
    /* height: 70vh; */
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.title{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size:2rem ;
}
.description{
font-weight: 300;
font-size: 1rem;
margin-bottom: 1rem;
}
.category, .rating{
    margin-bottom: .5rem;
}
.price{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.increment-button{
    margin: 4rem;
    width:100px
}
.button-style{
    /* display: inline-block; */
    background-color: #8EC3B0;
    margin: 1rem;
    width:30%;
}
.button-style:hover{
    background-color: rgb(1, 100, 72);
}